/* body */
body {
  margin: 0;
  padding: 0;
  background: url('./assets/fondoBody4.png') repeat;
  background-attachment: fixed;
  filter: drop-shadow(2px 4px 6px #2b7fb7) drop-shadow(0 0 12px #2b7fb7);
}

.contenido{
  max-width: 1280px;
  margin: auto;
  /* font-family: 'Arial', sans-serif; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #200047;
  color: #fff;
}

/* header */
.headerOne{
  display: flex;
  background-color: #200047;
}
.headerOne h1{
  display: none;
}
.headerOne img{
  margin: auto;
  height: 100px;
}

/* nav */
.nav{
  background-color: #200047;
}
.nav-principal{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
}

.nav-principal ul{
  list-style: none;
}
.nav-principal li{
  list-style: none;
  margin: auto;
}

.nav-principal__item a{
  margin: 0 1rem;
  padding: 0.5rem;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.nav-principal__item a:hover{
  color: #ffffff;
  text-decoration: underline 2px;
  text-decoration-color: rgb(8, 220, 220);
} 


/* Footer */
footer{
  background-color: #200047;
  border-top: 4px solid #2b7fb7;
  box-shadow: 0px -20px 20px -20px rgb(39, 134, 197); 
}

/* footer */
footer {
  align-items: center;
  text-align: center;
}
.footer {
  display: flex;
}

.footer .column {
  flex: 1;
  padding: 20px;
  border-bottom: 1px solid #fff; 
}

footer h3 {
  margin-bottom: 20px;
}

footer p {
  margin: auto;
  font-size: 1.2rem;
}

footer img {
  width: 90px;
  height: 90px;
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
}


footer img:hover {
  transform: scale(1.2); /* Hacer que las imágenes se agranden un poco en hover */
}

footer {
  text-align: center;
  padding: 50px;
}

footer h3 {
  padding-bottom: 10px;
}

footer a {
  padding: 0 10px;
}

.copyright{
  margin-top: 2rem;
  margin-bottom: -2rem;
}

/* Home ------------------------------------------------------------------------------------------------------------------------------------------------------ */
.home{
  text-align: center;
  background-color: #05005b;
}

.home .presentacion{
  background: url('./assets/fondo2.jpg') no-repeat;
  height: 780px;
}
.home .presentacion h2{
  display: none;
}
.home .presentacion{
  text-align: left;
}

.home .presentacion img{
  width: 500px;
  margin: 100px 0 0  80px;
}
.home .degradado{
  background: linear-gradient(to bottom, #280349, #000000);
  margin-top: -1.5rem;
  height: 100%;
  width: 100%;
  border-top: 4px solid #2b7fb7;
  box-shadow: 0px -20px 20px -20px rgb(39, 134, 197); 
}
.home .degradado2{
  background: linear-gradient(to bottom, #000000, #541D93);
  height: 100%;
  width: 100%;
}

.home h2, h3, h4{
  font-size: 2rem;
  /* text-shadow: 0 0 20px #e814a8; */
}

.home h2{
  padding-top: 3rem;
}
.home p, span{
  font-size: 1.5rem;
}

.home .negro{
  background-color: black;
  padding-top: 1rem;
}


.home .container{
  display: flex;
  padding: 4rem;
}
.home .containerPad{
  padding: 4rem;
}
.home .column{
    flex: 1;
    padding: 20px;
}
.home .column2{
    flex: 2;
    padding: 20px;
}

.home .divPacman p{
  max-width: 900px;
  text-align: center;
  margin: auto;
}

.home .containerPremios{
  background-image: url('./assets/paisaje.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 4rem;
  border-top: 4px solid #2b7fb7;
  box-shadow: 0px -20px 20px -20px rgb(39, 134, 197); 
}

.home .containerPremios h3{
    filter: drop-shadow(2px 4px 6px #000000) drop-shadow(0 0 10px rgb(0, 0, 0));
}

.home .premios{
  display: flex;
  justify-content: space-evenly;
}

.home .cardPremio{
  max-width: 380px;
  background-color: rgba(64, 0, 193, 0.571);
  margin: 1rem;
  padding: 1rem;
  border: PowderBlue 5px solid;
  border-radius: 20px;
  box-shadow: 1px 1px 15px 10px #44246c;
  transition: background-color 0.5s ease, transform 0.5s ease;
}


.home .cardPremio:hover{
  background-color: rgba(64, 0, 193, 0.878);
  transform: scale(1.05);
}

.home .cardPremio img{
  height: 200px;
  margin-bottom: -50px;
}

.home .apoyan{
  background: linear-gradient(to bottom, #0D0B3A, #310a60);
  padding-top: 2rem;
  border-top: 4px solid #2b7fb7;
  box-shadow: 0px -20px 20px -20px rgb(39, 134, 197); 
}
.home .apoyoCard{
  background-color: rgba(0, 0, 0, 0.323);
  width: 100px;
  margin: 1rem;
  border-radius: 10px;
  border: 2px solid #2b7fb7; 
  box-shadow: 0 4px 8px rgba(39, 134, 197, 0.174); 
  transition: background-color 0.5s ease, transform 0.5s ease,  box-shadow 0.5s ease;
}

.home .apoyoCard:hover {
  background-color: rgb(101, 2, 150);
  box-shadow: 0 4px 50px rgb(39, 134, 197); 
  color: #fff; 
  transform: scale(1.1);
}

/* LOGIN ------------------------------------------------------------------------------------------------------------------------------------------------------*/

.login{
  text-align: center;
  background: url('./assets/fondoLogin2.jpg');
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.loginContainer{
  background-color: rgba(101, 2, 150, 0.482);
  padding: 3rem;
  /* background: linear-gradient(to bottom, #0D0B3A, #310a60); */
  border-radius: 10px;
  border: 2px solid #2b7fb7; 
  box-shadow: 0 4px 8px rgba(39, 134, 197, 0.174); 
  transition: background-color 0.5s ease, transform 0.5s ease,  box-shadow 0.5s ease;
}

.loginContainer:hover {
  background-color: rgba(101, 2, 150, 0.835);
  box-shadow: 0 4px 50px rgb(39, 134, 197); 
  color: #fff; 
  transform: scale(1.2);
}

.loginContainer form{
  text-align: center;
  
}
.loginContainer form div {
  /* max-width: 200px;*/
  margin: 1rem; 
}
.loginContainer form div input{
  /* width: 170px; */
}
.loginContainer form button{
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: 2px solid rgb(52, 122, 219);
  border-radius: 5px;
  color: #ffffff;
  background-color: #3498db6c;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.loginContainer form button:hover {
  background-color: rgb(52, 122, 219);
  color: #ffffff;
  box-shadow: 0 4px 30px rgb(39, 134, 197); 
}

/* Lista juegos ------------------------------------------------------------------------------- */
.listaJuegos{
  text-align: center;
  background-color: #05005b;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.fondoJuegos{
  display: flex;
  flex-wrap: wrap;
}

.listaJuegos .cardJuego{
  width: 250px;
  border: 5px solid rgb(52, 122, 219);
  border-radius: 7px;
  margin: 2rem;
  padding: 1rem;
  background-color: rgb(44, 11, 85);
}

/* Voto juez ------------------------------------------------------------------------------------------ */
.votoJuez{
  text-align: center;
  background-color: #05005b;
  padding-bottom: 4rem;
  padding-top: 2rem;
}

.contenedorForm{
  display: flex;
}

.votoJuez form {
  margin: auto;
  width: 650px;
  background-color: rgb(30, 15, 148); /* Puedes cambiar esto al color que prefieras */
  padding: 20px; /* Añade un espacio interno alrededor del formulario */
}

.votoJuez label {
  display: block;
  margin-bottom: 10px; /* Añade espacio entre cada etiqueta y el siguiente campo de entrada */
}

.votoJuez input {
  width: 100%; /* Hace que los campos de entrada ocupen todo el ancho disponible */
  padding: 8px;
  margin-top: 5px; /* Añade un pequeño espacio entre el texto de la etiqueta y el campo de entrada */
}

.votoJuez button {
  margin-top: 10px; /* Añade espacio entre el último campo de entrada y el botón de envío */
}
/* crear juego ------------------------------------------------------------------------------------------ */
.crearJuego{
  text-align: center;
  background-color: #05005b;
  padding-bottom: 4rem;
  padding-top: 2rem;
}

.crearJuego .contenedorForm{
  display: flex;
}

.crearJuego form {
  margin: auto;
  width: 650px;
  background-color: rgb(30, 15, 148); /* Puedes cambiar esto al color que prefieras */
  padding: 20px; /* Añade un espacio interno alrededor del formulario */
}

.crearJuego label {
  display: block;
  margin-bottom: 10px; /* Añade espacio entre cada etiqueta y el siguiente campo de entrada */
}

.crearJuego input {
  width: 100%; /* Hace que los campos de entrada ocupen todo el ancho disponible */
  padding: 8px;
  margin-top: 5px; /* Añade un pequeño espacio entre el texto de la etiqueta y el campo de entrada */
}

.crearJuego button {
  margin-top: 10px; /* Añade espacio entre el último campo de entrada y el botón de envío */
}

/* actualizar juego ------------------------------------------------------------------------------------------ */
.actualizarJuego{
  text-align: center;
  background-color: #05005b;
  padding-bottom: 4rem;
  padding-top: 2rem;
}

.actualizarJuego .contenedorForm{
  display: flex;
}

.actualizarJuego form {
  margin: auto;
  width: 650px;
  background-color: rgb(30, 15, 148); /* Puedes cambiar esto al color que prefieras */
  padding: 20px; /* Añade un espacio interno alrededor del formulario */
}

.actualizarJuego label {
  display: block;
  margin-bottom: 10px; /* Añade espacio entre cada etiqueta y el siguiente campo de entrada */
}

.actualizarJuego input {
  width: 100%; /* Hace que los campos de entrada ocupen todo el ancho disponible */
  padding: 8px;
  margin-top: 5px; /* Añade un pequeño espacio entre el texto de la etiqueta y el campo de entrada */
}

.actualizarJuego button {
  margin-top: 10px; /* Añade espacio entre el último campo de entrada y el botón de envío */
}

/* Borrar juego ------------------------------------------------------------------------------------------ */
.eliminarJuego {
  text-align: center;
  background-color: #05005b;
  padding-bottom: 4rem;
  padding-top: 2rem;
}

.eliminarJuego .game-list {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
  margin-top: 20px;
}

.eliminarJuego .game-list th, .game-list td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.eliminarJuego .game-list th {
  background-color: #6d4e4e;
}

.eliminarJuego .delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}